*{
    margin: 0;
    padding: 0;
}

.nav-bar{
    width: 100%;
    padding-bottom: 100px;
}
header{
    background-color:  rgb(27, 24, 24);
}
.nav-bar ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}
.nav-bar ul li{
    display: inline-block;
    margin: 10px 15px 0;
    font-family: verdana,sans-serif;
    font-size: 16px;
    
}

.nav-bar ul li a:hover{
    color: yellowgreen;
}

.nav-bar ul li a{
    text-decoration: none;
    color: white;
    transition: 0.3s color;
    margin: 20px 15px 0;
   
}
.home{
    height: 100vh;
    background-color: rgb(27, 24, 24);
}

.home article {
    flex: 1;
    padding-left: 100px;
}

.home h1{
    font-size: 60px;
    font-weight: 500;
    font-family: serif;
    text-transform: capitalize;
    color: white;
    text-align: center;
    margin-bottom:20px;
}
.home h1 span{
    color: yellowgreen;
}

.home p{
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: tahoma,sans-serif;
    line-height: 40px;
    margin-bottom: 50px;
}
.home div p{
    font-size: 20px;
    line-height: 35px;
    text-align: start;
    color: white;
}

.home div{
    display: flex;
    padding-top: 50px;
}


.home figure{
    flex:1;
    text-align: center;

}

.home figure img{
    width: 50%;
}

.email{
    padding: 10px 20px;
    background-color: red;
    color: white;
    font-size: 25px;
    position: relative;
    left: 35%;
    text-decoration: none;
}
.home article a{
    font-size: 16px;
    color: white;
    border: 1px solid yellowgreen;
    padding: 15px 50px;
    text-decoration: none;
    font-weight: 600;
    font-family: tahoma,sans-serif;
    transition: 0.3s;
    margin-right: 15px;
}

.home article a:hover{
    background-color: yellowgreen;
    color: black;
}


.contact{
    width: 80%;
    margin: auto;
}

.contact form{
    background-color:black;
    text-align: center;
    padding: 30px 0;
}

.contact form input{
    width: 80%;
    outline: none;
    padding-left:  15px;
    margin-bottom: 20px;
    border: none;
    color: black;
    height: 50px
}

.contact form textarea{
    margin: auto;
    min-height: 200px;
    max-height: 300px;
    max-width: 80%;
    min-width: 80%;
    outline: none;
    border: none;
}

.contact h2{
    color: yellowgreen;
    text-align: center;
    font-size: 45px;
    margin-bottom: 100px;
    font-family: tahoma,sans-serif;
}

.about{
    padding-top: 200px;
    background-color: grey;
}

.about h2,.services h2,.testimonial h1{
    font-size: 45px;
    font-family: tahoma,sans-serif;
    color: yellowgreen;
    font-weight: 700;
    text-transform: capitalize;
}

.about p{
    width: 70%;
    margin: auto;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid black;
    padding: 50px;
    text-align: start;
    line-height: 40px;
    font-family: verdana,sans-serif;
}
.about span{
    width: 33%;
    border-right: white 3px solid;
    text-align: center;
    font-family: verdana,sans-serif;
    display: inline-block;
    font-size: 70px;
    box-sizing: border-box;
    margin-bottom: 150px;
    color: rgb(46, 40, 40);
}

.about h5{
    font-size: 25px;
    margin-bottom: 150px;
    font-weight: 700;
    font-family: tahoma,sans-serif;
    text-align: center;
}

.about h2{
    text-align: center;
    margin-bottom: 50px;
}

.services{
    background-color: grey ;
    padding-top: 100px;
    margin-bottom: 100px;
}
.services h2{
    text-align: center;
    margin-bottom: 100px;
}

.services h2 span{
    color: black;
}

.services p{
    width: 70%;
    margin: auto;
    font-size: 20px;
    border: 1px solid black;
    padding: 50px;
    font-weight: 500;
    line-height: 40px;
    font-family: verdana,sans-serif;
    text-align: center;
    margin-bottom: 50px;

}

.contact p{
    font-size: 20px;
    color: black;
    text-align: center;
}
.testimonial h1{
    text-align: center;
    margin-bottom: 50px;
}
.testimonial h2{
    font-size: 100px;
    text-align: center;
}
.testimonial article{
    background-color: rgb(218, 214, 214);
    width: 60%;
    box-shadow: black 2px 3px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 100px;
}
.testimonial img{
    border-radius: 50%;
    display: block;
}

.testimonial p{
    width: 90%;
    margin: auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    font-family: verdana,sans-serif;
    text-align: center;
    margin-bottom: 50px;
   

}

.works{
    width: 30%;
    margin: auto;
    margin-bottom: 50px;
}
.works img{
    width: 100%;
    display: block;
}


@media (max-width:1200px){


    .nav-bar ul li{
        font-size: 12px;
    }

    .logo h4{
        font-size: 30px;
    }

    .home h1{
        font-size: 45px;
    }

    .home article p{
        font-size: 16px;
    }

    .home article a{
        padding: 10px 25px;
    }
}

@media (max-width:800px){
    .home div{
        flex-direction: column-reverse;

    }

    .home p{
        font-size: 16px;
        width: 80%;
        margin: auto;
    }
    .home article a{
        padding: 10px;
        font-size: 12px;
    }
    .about p{
        font-size: 18px;
        line-height: 30px;
    }

    .about span{
        font-size: 40px;
        display: block;
        border-right: none;
        width: 80%;
    }
    .services p{
        font-size: 18px;
        line-height: 30px;
    }
}
